{
  "profiles": {
    "ImportExportDevicesSample": {
      "commandName": "Project",
      "environmentVariables": {
        "SOURCE_IOTHUB_CONNECTION_STRING": "<connection string to IoT Hub you're going to copy from>",
        "DESTINATION_IOTHUB_CONNECTION_STRING": "<connection string to new IoT Hub>",
        "STORAGE_ACCOUNT_CONNECTION_STRING": "<storage account connection string>"
      }
    }
  }
}